body {
    background: #00ABB3;
    color: #EAEAEA;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.word {
    display: flex;
    justify-content: center;
    font-size: 50px;
}

h1:nth-of-type(odd){
    border: 5px solid #B2B2B2;
    padding: 50px 100px;
}

h1:nth-of-type(even){
    color: #3C4048;
}

#count1, #count2 {
    margin: 20px 50px;
    
}

h4 {
    margin: 60px 60px 0 60px;
    text-align: center;
    font-size: 40px;
    color:#3C4048;
}

h2 {
    font-size: 50px;
    text-align: center;
    color: #3C4048;
}

input {
    cursor: pointer;
    width: 140px;
    margin: 20px;
    text-align: center;
}

span {
    color: #EAEAEA;
}

.button {
    display: flex;
    color: #3C4048;
    
    text-align: center;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    margin: 20px;
    height: 50px;
    width: 200px;
    border: 2px solid black;
    border-radius: 10px;
    background: greenyellow;
}

button:nth-of-type(1){
    background-color: #A8E890;
}
button:nth-of-type(2){
    background-color: #B8E8FC;
}
button:nth-of-type(3){
    background-color: rgba(236, 91, 91, 0.849);

}
